input[type=range]{
    width: 84%;
    background: transparent;
    display: block;
    margin: 0 auto;
    height: 30px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    background: #b8b8b8;
    border: none;
    border-radius: 2px;
}

input[type=range]::-moz-range-progress {
    background: #74815f;
    height: 4px;
    border-radius: 2px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #74815f;
}